.navbar {
  width: 20%;
  margin-top: 20px;
}

li a {
  color: black;
  text-decoration: none;
}

li span {
  color: #346297;
  margin-right: 5px;
}

.active {
  color: #346297;
} 

.item {
  border: 1px solid transparent;
  padding: 3px;
  margin-bottom: 5px;
}

.item:hover {
  background-color:#dfe3ea ;
}

.item_icon1::before {
  content: "\f007";
}

.item_icon2::before {
  content: "\f1ea";
}

.item_icon3::before {
  content: "\f27b ";
}

.item_icon4::before {
  content: "\f234";
}

.item_icon5::before {
  content: "\f0c0";
}

.item_icon6::before {
  content: "\f03e";
}

.item_icon7::before {
  content: "\f001  ";
}

.item_icon8::before {
  content: "\f008";
}