
.post {
  display: flex;
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 30px;
}


.post_ava {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-right: 15px;
}

.post_name {
  margin-bottom: 8px;
}

.post_data {
  margin-bottom: 10px;
  color: #97a0ab;
  font-size: 12px;
}
